/*
*** Primary color:

   shade 0 = #171414 = rgb( 23, 20, 20) = rgba( 23, 20, 20,1) = rgb0(0.09,0.078,0.078)
   shade 1 = #5C5C5C = rgb( 92, 92, 92) = rgba( 92, 92, 92,1) = rgb0(0.361,0.361,0.361)
   shade 3 = #55100E = rgb( 85, 16, 14) = rgba( 85, 16, 14,1) = rgb0(0.333,0.063,0.055)

*** Complement color:

   shade 0 = #0F0E0F = rgb( 15, 14, 15) = rgba( 15, 14, 15,1) = rgb0(0.059,0.055,0.059)
   shade 1 = #3F3F3F = rgb( 63, 63, 63) = rgba( 63, 63, 63,1) = rgb0(0.247,0.247,0.247)
   shade 3 = #200E3A = rgb( 32, 14, 58) = rgba( 32, 14, 58,1) = rgb0(0.125,0.055,0.227)  
*/

@import url('https://fonts.googleapis.com/css?family=Allerta+Stencil|Libre+Baskerville');

/*font-family: 'Libre Baskerville', serif;
font-family: 'Allerta Stencil', sans-serif;*/

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #0F0E0F
}

header {
	background: #171414;
	padding: 1.1em;
	text-align: center;
}

header a {
	text-decoration: none;
	font-size: 1.5em;
	font-style: 	
}

h1 {
	color: ;
	}

article {
	color: #c7c7c7c5;
	font-family: 'Libre Baskerville', serif;
}

article .title {
	background-color: #200E3A;
	display: block;
	font-family: 'Allerta Stencil', sans-serif;
	font-size: 2.5em;
	font-weight: normal;
	text-align: center;
}

article figure img {
	width: 100%;
}

article figure {
	margin: 0 auto;
	text-align: center;
	width: 60%;
}

article .header_fem {
	background-color: #200E3A;
}

article p, article blockquote, article h3 {
	padding: 1em 5em;
	text-align: justify;
}

article p em{
	font-style: normal;
	font-size: 1.1em;
	font-weight: bold;
}

article blockquote.opinion {
	margin: 0em auto;
	width: 50%;
	text-align: left;
	font-size: 1.8em;
	font-weight: bold;
}

main {
	background-color:;
}

footer {
	background-color: ; 
	padding: 1.5em 2.0em;
	text-align: center;
	color: ;
}
